.viewer{
}

.card{
    width: 500px;
    margin: auto;
}
.title{
    font-size: 50px;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.formName{
    font-size: 20px;
    margin: auto;
    width: 50%;
    padding: 10px;
}